.container {
  display: flex; /* Utiliza Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-width: 100vw;
  min-height: 100vh;
  background-color: #F5F5F5;
  overflow: hidden;
}

.login-card {
  border-radius: 10px;
  max-width: 500px;
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  margin-top: 1em; /* Ajusta el margen superior si es necesario */
  color: white;
  background-color: #0069B6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* Asegura que el contenido del card se alinee en columna */
}
.container-logoABEN {
  padding: 15px;
  background-color: white;
}
.login-logo-aben {
  display: block;
  width: 100%; /* Ajusta el tamaño según tus necesidades */
  height: 100px;
  background-image: url("../../../../assets/imagenes/logoABEN.png");
  background-size: contain; /* Asegura que toda la imagen se ajuste dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el contenedor */
}

.login-logo {
  display: block;
  margin: 0 auto;
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px;
  background-image: url("../../../../assets/imagenes/logoCMNYR.png");
  background-size: contain; /* Asegura que toda la imagen se ajuste dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el contenedor */
}

.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field {
  width: 100%;
  overflow: hidden; /* Para asegurarse de que el contenido se ajuste al borde redondeado */
  background-color: #0069B6; /* Asegura que el fondo del campo sea blanco */
}

.mat-form-field-wrapper {
  padding: 0; /* Elimina el padding interno si es necesario */
}

.input {
  width: 100%;
}

.submit-button {
  margin-top: 16px;
  background-color: white;
}
.error-message {
  color: red;
  margin-top: 10px;
}
