<h2 mat-dialog-title>Cambiar Contraseña</h2>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <mat-form-field>
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput type="password" formControlName="newPassword" required>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">La contraseña es requerida.</mat-error>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('password')">La contraseña no cumple los requisitos.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">Confirmar contraseña es requerido.</mat-error>
      <mat-error *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched">
        Las contraseñas no coinciden.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [disabled]="changePasswordForm.invalid" (click)="onSave()">Guardar</button>
</mat-dialog-actions>
