::ng-deep .mat-dialog-container {
    width: 500px; /* Ancho personalizado */
    max-width: 80vw; /* Evita que el diálogo sea demasiado grande en pantallas pequeñas */
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-left: 10px;
  }
  