.spacer {
    flex: 1 1 auto;
}

mat-sidenav-container{
    height: 100%;
    background-color: #F5F5F5;
}

mat-sidenav{
    width: 18rem;
    border: none;
    background-color: #0069B6;
}

.sidenav-header{
    height: 4rem;
    color: white;
    background-color: #3f51b5;
    display: flex;
    align-items: center;
}

.sidenav-header h2{
   padding-left:3rem;
   
}

mat-list-item{
   max-width: 16rem;
   margin-left: 1rem;
}

mat-list-item:hover{
    background-color: rgba(221, 221, 221, 0.411);
    border-radius: .3em;
}
.white{
    color:#fff !important;
    text-decoration: none !important;
}
mat-expansion-panel{
    color: white;
    background-color: #0069B6 !important;
}
